/* css style starts */
.img{
    width:100%;
    height:600px;
    object-fit: cover;
}
input{
    background: #DCDCDC;
    border:none;
    border-radius: 5px;;
}
.savingerror{
    display:none;
    background-color: rgb(224, 43, 37);
    border:none;
    border-radius: 5px;
    padding:3px;
    color:white;
    margin-top:6px;
    margin-bottom: 6px;
}